@import url(https://fonts.googleapis.com/css?family=Montserrat);
.gutter {
  padding: 0.5em;
}

.grid {
  margin: 0;
  padding: 0;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
}

.grid-bottom {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.grid-middle {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.grid-stretch {
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}

.opera-only :-o-prefocus, .grid {
  word-spacing: -0.43em;
}

.unit {
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
  display: inline-block;
  visibility: visible;
}

.grid-bottom .unit {
  vertical-align: bottom;
}

.grid-middle .unit {
  vertical-align: middle;
}

.unit[class*="push-"],
.unit[class*="pull-"] {
  position: relative;
}

.unit-xs-hidden {
  display: none;
  visibility: hidden;
}

.unit-xs-centered {
  margin: 0 auto;
}

.unit-xs-1, .xs-1 {
  display: block;
  visibility: visible;
  width: 100%;
}

.unit-offset-xs-0 {
  margin-left: 0;
}

.unit-push-xs-0,
.unit-pull-xs-0 {
  left: 0;
}

.unit-xs-1-2, .xs-1-2 {
  width: 50.0000%;
}

.unit-offset-xs-1-2 {
  margin-left: 50.0000%;
}

.unit-push-xs-1-2 {
  left: 50.0000%;
}

.unit-pull-xs-1-2 {
  left: -50.0000%;
}

.unit-xs-1-3, .xs-1-3 {
  width: 33.3333%;
}

.unit-offset-xs-1-3 {
  margin-left: 33.3333%;
}

.unit-push-xs-1-3 {
  left: 33.3333%;
}

.unit-pull-xs-1-3 {
  left: -33.3333%;
}

.unit-xs-2-3, .xs-2-3 {
  width: 66.6667%;
}

.unit-offset-xs-2-3 {
  margin-left: 66.6667%;
}

.unit-push-xs-2-3 {
  left: 66.6667%;
}

.unit-pull-xs-2-3 {
  left: -66.6667%;
}

.unit-xs-1-4, .xs-1-4 {
  width: 25.0000%;
}

.unit-offset-xs-1-4 {
  margin-left: 25.0000%;
}

.unit-push-xs-1-4 {
  left: 25.0000%;
}

.unit-pull-xs-1-4 {
  left: -25.0000%;
}

.unit-xs-3-4, .xs-3-4 {
  width: 75.0000%;
}

.unit-offset-xs-3-4 {
  margin-left: 75.0000%;
}

.unit-push-xs-3-4 {
  left: 75.0000%;
}

.unit-pull-xs-3-4 {
  left: -75.0000%;
}

.unit-xs-1-2, .xs-1-2, .unit-xs-1-3, .xs-1-3, .unit-xs-2-3, .xs-2-3, .unit-xs-1-4, .xs-1-4, .unit-xs-3-4, .xs-3-4 {
  display: inline-block;
  visibility: visible;
}

@media only screen and (min-width: 25em) {
  .unit-s-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-s-centered {
    margin: 0 auto;
  }
  .unit-s-1, .s-1 {
    display: block;
    visibility: visible;
    width: 100%;
  }
  .unit-offset-s-0 {
    margin-left: 0;
  }
  .unit-push-s-0,
  .unit-pull-s-0 {
    left: 0;
  }
  .unit-s-1-2, .s-1-2 {
    width: 50.0000%;
  }
  .unit-offset-s-1-2 {
    margin-left: 50.0000%;
  }
  .unit-push-s-1-2 {
    left: 50.0000%;
  }
  .unit-pull-s-1-2 {
    left: -50.0000%;
  }
  .unit-s-1-3, .s-1-3 {
    width: 33.3333%;
  }
  .unit-offset-s-1-3 {
    margin-left: 33.3333%;
  }
  .unit-push-s-1-3 {
    left: 33.3333%;
  }
  .unit-pull-s-1-3 {
    left: -33.3333%;
  }
  .unit-s-2-3, .s-2-3 {
    width: 66.6667%;
  }
  .unit-offset-s-2-3 {
    margin-left: 66.6667%;
  }
  .unit-push-s-2-3 {
    left: 66.6667%;
  }
  .unit-pull-s-2-3 {
    left: -66.6667%;
  }
  .unit-s-1-4, .s-1-4 {
    width: 25.0000%;
  }
  .unit-offset-s-1-4 {
    margin-left: 25.0000%;
  }
  .unit-push-s-1-4 {
    left: 25.0000%;
  }
  .unit-pull-s-1-4 {
    left: -25.0000%;
  }
  .unit-s-3-4, .s-3-4 {
    width: 75.0000%;
  }
  .unit-offset-s-3-4 {
    margin-left: 75.0000%;
  }
  .unit-push-s-3-4 {
    left: 75.0000%;
  }
  .unit-pull-s-3-4 {
    left: -75.0000%;
  }
  .unit-s-1-2, .s-1-2, .unit-s-1-3, .s-1-3, .unit-s-2-3, .s-2-3, .unit-s-1-4, .s-1-4, .unit-s-3-4, .s-3-4 {
    display: inline-block;
    visibility: visible;
  }
}

@media only screen and (min-width: 38em) {
  .unit-m-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-m-centered {
    margin: 0 auto;
  }
  .unit-m-1, .m-1 {
    display: block;
    visibility: visible;
    width: 100%;
  }
  .unit-offset-m-0 {
    margin-left: 0;
  }
  .unit-push-m-0,
  .unit-pull-m-0 {
    left: 0;
  }
  .unit-m-1-2, .m-1-2 {
    width: 50.0000%;
  }
  .unit-offset-m-1-2 {
    margin-left: 50.0000%;
  }
  .unit-push-m-1-2 {
    left: 50.0000%;
  }
  .unit-pull-m-1-2 {
    left: -50.0000%;
  }
  .unit-m-1-3, .m-1-3 {
    width: 33.3333%;
  }
  .unit-offset-m-1-3 {
    margin-left: 33.3333%;
  }
  .unit-push-m-1-3 {
    left: 33.3333%;
  }
  .unit-pull-m-1-3 {
    left: -33.3333%;
  }
  .unit-m-2-3, .m-2-3 {
    width: 66.6667%;
  }
  .unit-offset-m-2-3 {
    margin-left: 66.6667%;
  }
  .unit-push-m-2-3 {
    left: 66.6667%;
  }
  .unit-pull-m-2-3 {
    left: -66.6667%;
  }
  .unit-m-1-4, .m-1-4 {
    width: 25.0000%;
  }
  .unit-offset-m-1-4 {
    margin-left: 25.0000%;
  }
  .unit-push-m-1-4 {
    left: 25.0000%;
  }
  .unit-pull-m-1-4 {
    left: -25.0000%;
  }
  .unit-m-3-4, .m-3-4 {
    width: 75.0000%;
  }
  .unit-offset-m-3-4 {
    margin-left: 75.0000%;
  }
  .unit-push-m-3-4 {
    left: 75.0000%;
  }
  .unit-pull-m-3-4 {
    left: -75.0000%;
  }
  .unit-m-1-2, .m-1-2, .unit-m-1-3, .m-1-3, .unit-m-2-3, .m-2-3, .unit-m-1-4, .m-1-4, .unit-m-3-4, .m-3-4 {
    display: inline-block;
    visibility: visible;
  }
}

@media only screen and (min-width: 60em) {
  .unit-l-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-l-centered {
    margin: 0 auto;
  }
  .unit-l-1, .l-1 {
    display: block;
    visibility: visible;
    width: 100%;
  }
  .unit-offset-l-0 {
    margin-left: 0;
  }
  .unit-push-l-0,
  .unit-pull-l-0 {
    left: 0;
  }
  .unit-l-1-2, .l-1-2 {
    width: 50.0000%;
  }
  .unit-offset-l-1-2 {
    margin-left: 50.0000%;
  }
  .unit-push-l-1-2 {
    left: 50.0000%;
  }
  .unit-pull-l-1-2 {
    left: -50.0000%;
  }
  .unit-l-1-3, .l-1-3 {
    width: 33.3333%;
  }
  .unit-offset-l-1-3 {
    margin-left: 33.3333%;
  }
  .unit-push-l-1-3 {
    left: 33.3333%;
  }
  .unit-pull-l-1-3 {
    left: -33.3333%;
  }
  .unit-l-2-3, .l-2-3 {
    width: 66.6667%;
  }
  .unit-offset-l-2-3 {
    margin-left: 66.6667%;
  }
  .unit-push-l-2-3 {
    left: 66.6667%;
  }
  .unit-pull-l-2-3 {
    left: -66.6667%;
  }
  .unit-l-1-4, .l-1-4 {
    width: 25.0000%;
  }
  .unit-offset-l-1-4 {
    margin-left: 25.0000%;
  }
  .unit-push-l-1-4 {
    left: 25.0000%;
  }
  .unit-pull-l-1-4 {
    left: -25.0000%;
  }
  .unit-l-3-4, .l-3-4 {
    width: 75.0000%;
  }
  .unit-offset-l-3-4 {
    margin-left: 75.0000%;
  }
  .unit-push-l-3-4 {
    left: 75.0000%;
  }
  .unit-pull-l-3-4 {
    left: -75.0000%;
  }
  .unit-l-1-2, .l-1-2, .unit-l-1-3, .l-1-3, .unit-l-2-3, .l-2-3, .unit-l-1-4, .l-1-4, .unit-l-3-4, .l-3-4 {
    display: inline-block;
    visibility: visible;
  }
}

.unit-content-distribute {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.content-fill {
  -ms-flex-grow: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
}

.content-shrink {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}

body {
  background-color: #FF994D;
}

a {
  text-decoration: none;
  color: #58595B;
}

.banner {
  background-image: url(../images/bckgrnd.png);
  background-size: cover;
  height: 300px;
  margin: -.5em;
  padding: 0;
  padding-top: 1em;
  background-color: #fff;
  overflow: hidden;
}

.button {
  background-color: #fff;
  top: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .25em;
  position: relative;
  max-width: 187px;
  height: 46px;
  border: 3px solid #58595B;
  margin: 0 4em;
  text-align: center;
  -webkit-transition: .1s ease-in;
  -moz-transition: .1s ease-in;
  -o-transition: .1s ease-in;
  -ms-transition: .1s ease-in;
  transition: .1s ease-in;
}

.button:hover {
  color: #fff;
}

.button:hover .easing {
  height: 100%;
}

.button:hover ul {
  display: block;
  color: #58595B;
}

.button .but-header {
  position: relative;
  padding: 0px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #58595B;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 46px;
  -webkit-transition: ease-out 0.1s;
  -moz-transition: ease-out 0.1s;
  -o-transition: ease-out 0.1s;
  -ms-transition: ease-out 0.1s;
  transition: ease-out 0.1s;
}

.button:hover .but-header {
  color: #fff;
  z-index: 1000;
}

.easing {
  position: absolute;
  width: 100%;
  top: 0;
  height: 0px;
  margin: 0 auto;
  padding: 0px;
  background-color: #58595B;
  -webkit-transition: .1s ease-in;
  -moz-transition: .1s ease-in;
  -o-transition: .1s ease-in;
  -ms-transition: .1s ease-in;
  transition: .1s ease-in;
}

.list-items ul {
  text-decoration: none;
  list-style-type: none;
  display: none;
  text-align: left;
  padding: 0;
  margin: -3px;
  border: 3px solid #58595B;
}

.list-items li {
  padding-left: 1em;
  padding-bottom: .5em;
  padding-top: .5em;
  border: 3px solid #58595B;
  border-bottom: none;
  width: 93.5%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .25em;
  margin-left: 1px;
  font-size: 12px;
  background-color: #fff;
}

.list-items li:hover {
  color: #fff;
  background-color: #58595B;
}

.icon-down {
  color: #58595B;
  float: right;
  margin-left: 0;
  margin-right: .5em;
  margin-top: 1em;
}

.icons {
  font-size: 30px;
  color: #58595B;
  text-align: right;
  margin-top: 76px;
}

.icon-images:hover {
  color: #FF994D;
}

.icon-mar {
  margin-right: 10px;
}

@media only screen and (min-width: 35em) {
  .icons {
    text-align: right;
    margin-top: 17px;
  }
  .icon-mar {
    margin-right: 80px;
  }
}
