@mixin transition{
  -webkit-transition:ease-out 0.3s;
  -moz-transition:ease-out 0.3s;
  -o-transition:ease-out 0.3s;
  -ms-transition:ease-out 0.3s;
  transition: ease-out 0.3s;
}

@mixin  transitiontwo{ 
  -webkit-transition:.2s ease-in;
  -moz-transition:.2s ease-in;
  -o-transition:.2s ease-in;
  -ms-transition:.2s ease-in;	
  transition: .2s ease-in;
}