.button {
    font-family: $Montserrat;
	letter-spacing:.25em;
    position:relative;
    max-width:187px;
    height:46px;
    border:3px solid $dark-grey;
    margin:0 auto;
    text-align:center;
	@include transitiontwo;
		&:hover {
			 color:$white;	
			.easing {
				height:100%;
			}
		}
	a {
		position:relative;
		padding:0px;
		text-align:center;
		text-transform:uppercase;
		text-decoration:none;
		color:$dark-grey;
		font-size:0.8rem;
		font-weight:600;
		line-height:46px;
		@include transition;
	}
}

.button:hover a {

    color:$white;
    z-index: 1000;
}

.easing {
    position: absolute;
    width:100%;
    bottom:0;
    height:0px;
    margin:0 auto;
    padding:0px;
    background-color:$dark-grey;
    @include transitiontwo;
}


