.button {
    
    position:relative;
    font-family:sans-serif;
    max-width:290px;
    height:60px;
    background-color: #dedede;
    margin:0 auto;
    text-align:center;
	@include transition;
		&:hover {
			 color:#ffffff;	
			.easing {
				height:60px;
			}
		}
	a {
		position:relative;
		padding:0px;
		text-align:center;
		text-transform:uppercase;
		text-decoration: none;
		color:#888888;
		font-size:0.8rem;
		font-weight:600;
		line-height:60px;
		@include transition;
	}
}

.button:hover a {

    color:#ffffff;
    z-index: 1000;
}

.easing {
    position: absolute;
    width:100%;
    top:0;
    height:0px;
    margin:0 auto;
    padding:0px;
    background-color: #39afc9;
    @include transitiontwo;

}


